<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>DPS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js" type="text/javascript"></script>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/screenly.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/grid.css') }}" rel="stylesheet"/>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            namespace = '{{ context.mqtt_namespace }}'; // change to an empty string to use the global namespace
            // the socket.io documentation recommends sending an explicit package upon connection
            // this is specially important when using the global namespace
            var socket = io('http://' + document.domain + ':' + location.port + namespace);
            
            socket.on('connect', function(msg) {
                console.log('connected');
                socket.emit('my_event', {data: 'I\'m connected!'});
            });
            
            socket.on('message', function(msg){
                console.log('values: ' + msg.data.values);
                var data = JSON.parse(msg.data);

                if (!data.values || data.values.length == 0)
                {
                    $('.grid').hide();
                    $('.container').show();
                }
                else
                {
                    $('.grid').show();
                    $.each(data.values, function(idx, val) {
                        console.log(idx);
                        $('#val' + (idx+1)).html(val);
                    });
                    $('.container').hide();
                }
            });
        });
    </script>
  
</head>
<body class="splash">
    <div class="grid">
        <div class="grid__item panel-1">
            <div class="content">
            <h1 id="val1">1</h1>
            </div>
        </div>
        <div class="grid__item panel-2">
            <div class="content">
            <h1 id="val2">2</h1>
            </div>
        </div>
        <div class="grid__item panel-3">
            <div class="content">
            <h1 id="val3">3</h1>
            </div>
        </div>
        <div class="grid__item panel-4">
            <div class="content">
            <h1 id="val4">4</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="logo-container page-header text-center">
                    <img src="/static/img/swisspost.png" class="img-fluid"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                {% if context.ip_lookup %}
                    <p>DPS-Client new Device with ID:</p>
                    <div class="form-actions">
                        <a href="{{ context.msg }}">{{ context.msg }}</a>
                    </div>
                {% else %}
                    <p>{{ context.msg }}</p>
                {% endif %}
            </div>
        </div>
        <hr/>
    </div>
</body>
</html>
