<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>

    {% if context.player_id %}
        <title>Swiss Post DPS - {{ context.player_id }}</title>
    {% else %}
        <title>Swiss Post DPS</title>
    {% endif %}
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/screenly.css') }}" rel="stylesheet"/>

    <link href="{{ url_for('static', filename='fontawesome/css/all.css') }}" rel="stylesheet"/>

    <script src="{{ url_for('static', filename='js/jquery-1.9.1.min.js') }}"></script>
</head>
<body>
<div class="navbar navbar-expand-lg fixed-top bg-yellow">
    <div class="container">
        <a class="brand" href="/">
            <img src="static/img/swisspost-logo.png"/>
        </a>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">

            <h1 class="page-header">
                Client ID: {{ context.player_id }} / Version: {{ context.version }}
            </h1>

            <table class="table table-bordered" style="width: 100%">
                <thead>
                <tr>
                    <th>Load Average</th>
                    <th>Free Space</th>
                    <th>Uptime</th>
                    <th>Monitor Info</th>
                    <th>Display Power</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ context.loadavg }}</td>
                    <td>{{ context.free_space }}</td>
                    <td>{{ context.uptime.days }} days and {{ (context.uptime.seconds / 3600)|round(2) }} hours</td>
                    <td>{{ context.display_info }}</td>
                    <td>{{ context.display_power }}</td>
                </tr>
                </tbody>
            </table>
<!--
            <section>
                <div class="header bg-yellow">Latest Viewer Logs</div>
            </section>

            {% if context.viewlog %}
                <table class="table table-striped">
                    {% for line in context.viewlog %}
                        <tr>
                            <td>{{ line }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p>There are no recent log messages.</p>
            {% endif %}
            -->
        </div>
    </div>
</div>

<div id="footer">
    <div class="container">
        <div class="copy">
            &copy; Triple-M Systems AG.
        </div>
        <a id="screenly-logo" href="https://www.triple-m.ch/" target="_blank">
            triple-m.ch
        </a>
    </div>
</div>


</body>
</html>
