<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>TBA</title>
    <script src="{{url_for('static', filename='js/jquery.min.js') }}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='js/qrcode.min.js') }}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='js/socket.io.slim.js') }}" type="text/javascript"></script>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/screenly.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/grid.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/tba.css') }}" rel="stylesheet"/>
    <script type="text/javascript" charset="utf-8">
        var socketio_timeoutID;

        var steps = [];
        var step = -1;
        var tessError = false;
        var tbaError = false;
        var briefpost = false;

        const lineBreak = 14;

        $(document).ready(function(){
            showHideError();
            showHideBriefpost();
            namespace = '{{ context.mqtt_namespace }}'; // change to an empty string to use the global namespace
            // the socket.io documentation recommends sending an explicit package upon connection
            // this is specially important when using the global namespace
            var socket = io('http://' + document.domain + ':' + location.port + namespace);
            
            socket.on('connect', function(msg) {
                console.log('connected...');
                clearTimeout(socketio_timeoutID);
                $('#socketio-connection').html('connected');
                showMessage(msg);
            });

            socket.on('disconnect', function(reason) {
                console.log('disconnected...');
                $('#socketio-connection').html('disconnected');
            });
            
            socket.on('mqtt_disconnected', function() 
            {
                console.log('mqtt_disconnected');
                setTbaError(true);
            });

            socket.on('mqtt_connected', function() 
            {
                console.log('mqtt_connected');
                setTbaError(false);
            });

            socket.on('message', function(msg)
            {
                if (msg.message && msg.message.length > 0)
                {
                    showMessage(msg.message);
                }
                else
                {
                    try
                    {
                        var data = JSON.parse(msg.data);

                        if (data.message && data.message.length > 0)
                        {
                            showMessage(data.message);
                        }
                        else
                        {
                            showTbaData(data);
                        }
                    }
                    catch(e)
                    {
                        console.log('error: ' + e.message);
                        Object.getOwnPropertyNames(msg).forEach(function(val, idx, array) {
                            console.log(val + ' -> ' + msg[val]);
                        });
                        showMessage(e.message);
                    }
                }
            });

            socket.on('emergency', function(msg)
            {
                console.log("emergency");
                var data = JSON.parse(msg.data);

                setTbaEmergencyProgram(data);
            });

            socket.on('tess', function(msg)
            {
                try
                {
                    var data = JSON.parse(msg.data);

                    setTessError(!data.connected);
                }
                catch(e)
                {
                    console.log('error: ' + e.message);
                }
            });

            socket.on('rotate', function(msg)
            {
                rotate(msg.reset);
            });

            socket.on('time', function(msg)
            {
                console.log("time: " + msg.time);
                $('#cur_time').html(msg.time);
            })
        });

        function rotate(reset)
        {
            var qr = $('#qr');

            if (qr.is(':visible'))
                qr.hide();
            else
            {
                if ($('#location span:first').hasClass('notprogramm')) return;

                if (++step >= steps.length || reset)
                {
                    step = 0;
                }

                hideDataContent();

                $(steps[step]).show();

                adjustFontSize($('.prio'));
                adjustFontSize($('.text1'));

                if ($('#qr_code').children().length > 0)
                    qr.show();
            }
        }

        function hideDataContent()
        {
            $('#data > div').each(function(i)
            {
                $(this).hide();
            });
        }

        function showMessage(message)
        {
            showStartinfo();
            $('<div/>', {html: message}).prependTo('hr');
            $('hr div:nth-child(10)').remove();
            $('.grid').hide();
            $('.container').show();
        }

        function showStartinfo(reset)
        {
            $('.grid').hide();

            if (reset == true)
                $('hr div').remove();

            $('.tba').hide();
            $('#qr').hide();
            $('.container').show();
        }

        function showData(data)
        {
            $('.grid').show();

            $.each(data, function(idx, val) {
                var item = $('#val' + (idx+1));
                item.html(val);
            });

            $('.grid__item').each(function(idx, item) {
                if (idx < data.length) 
                {
                    $(item).removeClass('full_row');
                    $(item).show();

                    if (idx == data.length -1 && data.length % 2 == 1)
                    {
                        $(item).addClass('full_row');
                    }

                    fitText(item);
                }
                else
                {
                    $(item).hide();
                }
            });
            equalText();

            $('.container').hide();
        }

        function removeNotprogrammClasses()
        {
            jQuery.each([$('#location span:first'), $('#prio'), $('#time')], function(i) {
                if (this.hasClass('notprogramm')) {
                    this.removeClass('notprogramm');
                }
            });
        }

        function showTbaData(data)
        {
            removeNotprogrammClasses();

            showHideError();

            $('.container').hide();
            $('#qr').hide();
            $('.tba').show();

            steps = [];

            Object.getOwnPropertyNames(data).forEach(function(val, idx, array) {
                //console.log(val + ' -> ' + data[val]);
            });

            $('#door').html(data.DoorName);
            $('#sector').html(data.Sector);

            if (data.Foreign && data.Foreign.length > 0)
            {
                showBriefpost(data.Foreign);
                return;
            }
            else
            {
                hideBriefpost();
            }

            setDoorType(data.DoorType);
            setLocation(data.Location, data.Randgebiet, data.BgColor);

            setQrCode(data.Ident);

            setSymbol(data.Symbol);
            
            setPrioAndTime(data.Priority, data.CloseTime);
            setTour(data.Tour);
            setTb(data.Tb);
            setRxCapacity(data.RxCapacity);

            setDoorText(data.Text1, data.Text2, data.Comment);
            setAdditionalText(data.AdditionalText1, data.AdditionalText2);
            setGlobalText(data.GlobalText1, data.GlobalText2);

            setPlz(data.PlzLeft, data.PlzRight);
        }

        function setTour(tour)
        {
            if (isAuslad())
            {
                $('#prio').html(tour).css('background-color', '');
            }
        }

        function setTb(tb)
        {
            steps.push('#txt_grp_tb');
            $('#tb').html(tb);
        }

        function setTbaEmergencyProgram(data)
        {
            setTessError(false);

            steps = [];

            $('#door').html(data.DoorName);
            $('#sector').html(data.Sector);
            setDoorType(data.DoorType);
            setLocation(data.Location);
            setPrioAndTime(data.Priority, data.CloseTime);
            setRxCapacity(null);
            setDoorText('', '');
            setAdditionalText('', '');
            setGlobalText('', '');
            setPlz('', '');

            jQuery.each([$('#location span:first'), $('#prio'), $('#time')], function(i) {
                if (!this.hasClass('notprogramm')) {
                    this.addClass('notprogramm');
                }
            });
        
            $('#prio').text(data.wb_laufzeit).css('background-color', '');
            $('.prio div').text(data.wb_laufzeit).css('background-color', '');
            $('#img').hide();
            hideDataContent();
            $('#txt_grp1').show();
        }

        function setDoorType(type)
        {
            console.log(`DoorType: ${type}`);

            switch(type) {
                case "B": $('#top').removeClass().addClass('einlad'); break;
                case "E": $('#top').removeClass().addClass('auslad'); break;
            }
        }

        function isEinlad()
        {
            return $('#top').hasClass('einlad');
        }

        function isAuslad()
        {
            return $('#top').hasClass('auslad');
        }

        function setPlz(left, right)
        {
            $('#plz .left').text(left);
            $('#plz .right').text(right);

            if (left != null || right != null) steps.push('#plz');
        }

        function setRxCapacity(capacity)
        {
            $('#rx_value').text(capacity);

            if (capacity != null) steps.push('#rx_capacity');
        }

        function setDoorText(text1, text2, comment)
        {
            $('#text1, .text1>span').html(text1);
            $('#text2, .text2>span').html(comment);

            if (isAuslad())
            {
                $('#txt_grp_tb > div').css('grid-template-columns', '25% 50% 25%')
                $('.prio').show();
            }
            else
            {
                $('.text1').css('font-size', '300px');
                $('#txt_grp_tb > div').css('grid-template-columns', '25% 75%')
                $('.prio').hide();
            }

            steps.push("#txt_grp_tb");

            adjustFontSize($('.text1'));

            if (text2 && text2.length > 0)
            {
                $('.text_additional').html(text2);
                steps.push("#txt_grp_additional");
            }
        }

        function setAdditionalText(text1, text2)
        {
            $('#text3').html(text1);
            $('#text4').html(text2);

            if ((text1 != null && text1.length > 0) || (text2 != null && text2.length > 0)) steps.push('#txt_grp2');
        }

        function setGlobalText(text1, text2)
        {
            $('#text5').html(text1);
            $('#text6').html(text2);

            if ((text1 != null && text1.length > 0) || (text2 != null && text2.length > 0)) steps.push('#txt_grp3');
        }

        function setLocation(location, randgebiet, bgColor)
        {
            if (location == null || location.length == 0) {
                location = '&nbsp;';
            }

            var locationText = location;

            if (randgebiet && randgebiet.length > 0)
            {
                locationText =  `${randgebiet} via ${location}`;
            }

            $('#location span:first').html(locationText);

            adjustFontSize($('.text'));

            var htmlBgColor = '';
            if (bgColor != null && location != '&nbsp;')
            {
                htmlBgColor = '#' + bgColor;
            }
            $('#location span:first').css('background-color', htmlBgColor);
        }

        function adjustFontSize(element)
        {
            console.log(`${element.attr('class')}: div.width: ${element.width()}, span.width: ${element.find('span:first').width()}`);

            if (element.width() == 0) return;

            element.css('font-size', '170px');
            while (element.find('span:first').width() > element.width())
            {
                element.css('font-size', '-=1px');
            }
        }

        function adjustLocationFontSize()
        {
            var loc = $('#location');
            loc.css('font-size', '15px');

            var span = $('#location span:first');

            while(span.width() <= loc.width() && parseInt(loc.css('font-size')) < 220)
            {
                loc.css('font-size', '+=5px');
            }

            loc.css('font-size', '-=5px');
        }

        function setQrCode(ident)
        {
            $('#qr div.licensePlate').empty();
            $('#qr div.date').empty();

            $('#qr_code').empty();

            if (ident == null || ident.length == 0) {
                $('#qr').hide();
                return;
            }
            var width = $('#qr').width();
            var height = $('#qr').height();

            var length = (width < height) ? width : height;

            try
            {
                var d = ident.split('\n')[1];

                var kennzeichen = ident.split('\n')[2];

                if (kennzeichen.length > lineBreak)
                {
                    kennzeichen = kennzeichen.substr(0, lineBreak) + '<br>\n&nbsp;&nbsp;&nbsp;' + kennzeichen.substr(lineBreak);
                }

                $('#qr div.licensePlate').html(kennzeichen);
                $('#qr div.date').text(d.split('T')[0] + " " + d.split('T')[1].substr(0, 5));
            }
            catch {}

            new QRCode(
                document.getElementById('qr_code'), {
                    width: length,
                    height: length,
                    text: ident, 
                    correctLevel: QRCode.CorrectLevel.L 
                });
        }

        function setSymbol(symbol)
        {
            if (symbol == null || symbol.length == 0)
            {
                $('.img').hide();
            }
            else
            {
                $('.img').show();
                $('.img img').attr('src', symbol);
            }
        }

        function setPrioAndTime(prio, time)
        {
            var bgColor = "";

            try
            {
                switch (prio.toLowerCase().substr(0,3)) {
                    case "pri":	bgColor = "#FF0000";
                                break;

                    case "eco":	bgColor = "#00CD00";
                                break;

                    case "exp":	bgColor = "#FF8000";
                                break;
                }
            }
            catch {}

            if (isAuslad())
            {
                $('.prio').show();
                $('.prio span:first').text(prio);
                $('.prio').css('background-color', bgColor);

                adjustFontSize($('.prio'));
            }
            else if (isEinlad())
            {
                $('#prio').html(prio).css('background-color', bgColor);
                $('.prio').hide();
            }
            
            $('#time').html(time);
        }

        function fitText(element)
        {
            var h1 = $(element).find('h1:first');

            h1.css('font-size', '15px');

            var counter = 1;
            while(h1.width() < $(element).width())
            {
                h1.css('font-size', '+=5px');

                if (++counter > 1500) break;
            }
			h1.css('font-size', '-=5px');
        }

        function equalText()
        {
            var smallestfontSize = 10000;
            $('h1:visible').each(function(idx, item) {
                var size = parseInt($(item).css('font-size').replace(/px$/, ''));

                if (size < smallestfontSize) smallestfontSize = size;
            });

            $('h1:visible').each(function(idx, item) {
                $(item).css('font-size', smallestfontSize + 'px');
            });            
        }

        function setTessError(value)
        {
            tessError = (value === true);
            showHideError();
        }

        function setTbaError(value)
        {
            tbaError = (value === true);
            showHideError();
        }

        function showHideError()
        {
            if (tbaError)
            {
                $('.reason').html('TBA offline');
            }
            else if (tessError)
            {
                $('.reason').html('TESS offline');
            }
            else
            {
                $('#error').hide();
                $('#cur_time').show();
                return;
            }

            $('#error').show();
            $('#cur_time').hide();
        }

        function showHideBriefpost()
        {
            hideBriefpost();
        }

        function showBriefpost(value)
        {
            setSymbol(null);
            $('#top').removeClass().addClass('briefpost');
            $('#briefpost > span').text(value);
            $('#briefpost').show();
        }

        function hideBriefpost()
        {
            $('#briefpost').hide();
        }
    </script>
  
</head>
<body class="splash">
    <div class="tba">
        <div id="top" class="top">
            <div id="door">&nbsp;</div>
            <div class="img"><img src=""/></div>
            <div id="sector">&nbsp;</div>
            <div id="cur_time">&nbsp;</div>
        </div>
        <div id="content">
            <div id="location"><span>&nbsp;</span></div>
            <div id="info">
                <div id="prio">&nbsp;</div>
                <div id="time">&nbsp;</div>
            </div>
            <div id="data">
                <div id="plz">
                    <div class="left"></div>
                    <div class="right"></div>
                </div>
                <div id="rx_capacity">
                    <span>RX Kapazität</span>:
                    <span id="rx_value">&nbsp;</span>
                </div>
                <div id="txt_grp_tb">
                    <div>
                        <div id="tb">&nbsp;</div>
                        <div class="text1"><span>&nbsp;</span></div>
                        <div class="prio"><span>&nbsp;</span></div>
                    </div>
                    <div id="text2">&nbsp;</div>
                </div>
                <div id="txt_grp_additional">
                    <div class="text_additional">def</div>
                </div>
                <!-- Tess Text -->
                <div id="txt_grp1">
                    <div id="text1" class="text">&nbsp;</div>
                    <div id="text2" class="text">&nbsp;</div>
                </div>
                <!-- TBA Text -->
                <div id="txt_grp2">
                    <div id="text3" class="text">&nbsp;</div>
                    <div id="text4" class="text">&nbsp;</div>
                </div>
                <!-- Global Text -->
                <div id="txt_grp3">
                    <div id="text5" class="text">&nbsp;</div>
                    <div id="text6" class="text">&nbsp;</div>
                </div>
            </div>
        </div>
        <div id="qr">
            <div style="display:flex; flex-direction: column">
                <div class="licensePlate"></div>
                <div class="date"></div>
            </div>
            <div id="qr_code"></div>
        </div>
        <div id="error">
            <span>Error</span>
            <div class="reason">Tess offline</div>
        </div>
        <div id="briefpost">
            <span>&nbsp;</span>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="logo-container page-header text-center">
                    <img src="/static/img/swisspost.png" class="img-fluid"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                {% if context.ip_lookup %}
                    <div class="row">
                        <p>TBA-Client {{ context.msg }}:</p>
                        <div class="form-actions">
                            <h2>{{ context.ip }}</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">SocketIO: <span id="socketio-connection">disconnected</span></div>
                    </div>
                {% else %}
                    <p>{{ context.msg }}</p>
                {% endif %}
            </div>
        </div>
        <hr/>
    </div>
</body>
</html>
