[Unit]
Description=Websocket Server layer

[Service]
WorkingDirectory=/home/pi/screenly
User=pi
ExecStart=/usr/local/bin/python3.6 /home/pi/screenly/dps-socket.py
Restart=always

[Install]
WantedBy=multi-user.target
